*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.montoTotal{
    float: right;
}

.titulo_centrar{
    text-align: center;
}

.container_table{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.centrar{
    text-align: center;
}

table {
    width: 50% !important;
}


.centrara{
    margin: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
}
